header {
  padding: 5px 5px 5px 5px;
  font-family: 'Cormorant', regular;
  color: black;
}

nav {
  float: left;
  display: inline;
}

body {
 font-family: 'Cormorant', regular;
 font-size: 14pt;
}

h1 {
   font-family: 'Cormorant', regular;
 font-size: 14pt;
}

h2 {
  font-family: 'Cormorant', regular;
  font-size: 28pt;
  color: #9CC4E4;
  float: unset;
  display: inline;
  padding-left: 35px;
}

h3{
  color: white;
  font-size: 14pt;
  text-align: center;
}

p {
  font-family: 'Cormorant', regular;
  font-size: 14pt;
  color: white;
}

ul {
  color: white;
  list-style-type: ;
  margin: 0;
  padding: 35px;
}

ol {
  color: white;
  list-style-type: ;
  margin: 0;
  padding: 35px;
}

aside {
  width: 50%;
  clear: left;
  display: inline;
  float: left;
} 

img{
  width: 40%;
  padding-left: 10px;
}

a {
  color: inherit;
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.homepage-title{
  float: left;
  display: inline;
  font-size: 24pt;
  padding: 30px 10px 10px 20px;
  color: black;
}


.title{
  float: left;
  display: inline;
  font-size: 24pt;
  padding: 30px 10px 10px 20px;
  color: white;
}

.homepage-topline{
  float: right;
  display: inline;
  font-size: 24pt;
  padding: 30px 10px 10px 20px;
  color: black;
}

.topline{
  float: right;
  display: inline;
  font-size: 24pt;
  padding: 30px 10px 10px 20px;
  color: white;
}

.Bridge {
  text-align: center;
  border: 1px solid white;
}

.Herosection{
  /* no style on image */
  border: none;
}

.SubTitle{
  font-family: 'Cormorant', regular;
  font-size: 28pt;
  color: #9CC4E4;
  float: left;
  display: inline;
  padding-left: 35px;
}

.Intro{
  text-align: left;
  display: inline-block;
  font-size: 14pt;
  font color: white;
  max-width: 90%;
  margin-right: 50px;
  margin-bottom: 20px;
  padding-left: 35px;
}

.Foundation{
  text-align: left;
  display: inline-block;
  font-size: 14pt;
  font color: white;
  max-width: 80%;
  margin-right: 50px;
  margin-bottom: 20px;
  padding-left: 35px;
}

.BuildSomething{
  text-align: center;
  color: white;
  font-size: 18pt;
  background-color: #1B325F;
}

.Bootcamps {
  color: white;
  padding: 10px 5px 10px 5px;
  font color: #25232D;
}

.Why {
  color: white;
  padding: 10px 5px 10px 5px;
}

.What {
  color: white;
  padding: 10px 5px 10px 5px;
  font-color: #25232D;
}

.How {
  color: white;
  padding: 10px 5px 10px 5px;
}
.Hero {
 width: 100%;
 padding: 10px 5px 10px 5px;
}

.Bschools {
  color: white;
  padding: 10px 5px 10px 5px;
}

.Build {
  color: white;
  padding: 10px 5px 10px 5px;
  margin: 5px 5px 5px 5px;
}

.Submit {
  color: white;
  padding: 10px 5px 10px 5px;
}

.Fund {
  color: white;
  padding: 10px 5px 10px 5px;
}

.Develop {
  color: white;
  padding: 10px 5px 10px 5px;
}

.Partners {
  background-color: #1B325F
  color: white;
  padding: 10px 5px 10px 5px;
}

.SignUp {
  background-color: #FB0C06;
  font-family: 'Russo One', sans-serif;
  color: white;
  border: 1px solid black;
  font color: white;
  text-align: center;
}

.Hidden{
  display: none;
}

.Social{
  background-color: #9CC4E4;
  font-family: 'Russo One', sans-serif;
  text-align: center;
  font-size: 12pt;
}

.CTAs{
  background-color: #9CC4E4;
  font-family: 'Russo One', sans-serif;
  text-align: center;
  font-size: 12pt;

}

footer {
  height: 50px;
  color: #9CC4E4;
  font color: #23C9F8;
  text-align: center;
  font-family: 'Cormorant', regular;
  font-size: 12pt;
}

