header {
  padding: 5px 5px 5px 5px;
  font-family: 'Cormorant', regular;
}

nav {
  display: inline;
  font-size: 32pt;
  padding: 30px 10px 10px 20px;
}

body {
 font-family: 'Cormorant', regular;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

h1 {
   font-family: 'Cormorant', regular;
  font-size: 28pt;
  color: #9CC4E4;
  padding-left: 35px;
  }

h2 {
  font-family: 'Cormorant', regular;
  font-size: 28pt;
  color: #9CC4E4;
  padding-left: 35px;

}

h3{
  color: white;
  font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300)));
  text-align: left;
  }

p {
  font-family: 'Cormorant', regular;
  color: white;
}

ul {
  color: white;
  padding: 5px 35px 5px 35px;
}

ol {
  color: white;
  padding: 5px 35px 5px 35px;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.homepage-title{
  float: left;
  color: black;
}

.title{
  float: left;
  color: white;
}

.homepage-topline{
  float: right;
  color: black;
}

.topline{
  float: right;
  color: white;
}

.SubTitle{
  font-family: 'Cormorant', regular;
  margin-top: 150px;
}

.Intro{
  text-align: left;
  display: inline-block;
  font color: white;
  max-width: 90%;
  padding: 5px 35px 5px 35px;
}

.chapters{
  text-align: left;
  font color: white;
  max-width: 90%;
  margin-left: 100px;
}

.BuildSomething{
  text-align: center;
  color: white;
  font-size: 22pt;
  background-color: #1B325F;
  font-family: 'Cormorant', regular;
}

.Content {
  color: white;
  padding: 10px 5px 10px 5px;
  max-width: 90%;
}

.Meeting {
  background-color: #FB0C06;
  font-family: 'Cormorant', regular;
  color: white;
  border: 1px solid black;
  text-align: center;
}

.Social{
  background-color: #9CC4E4;
  font-family: 'Cormorant', regular;
  text-align: center;
}

footer {
  height: 50px;
  color: #9CC4E4;
  text-align: center;
  font-family: 'Cormorant', regular;
  font-size: 12pt;
}
